<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password change alert Acknowledgement</title>
</head>
<body style="font-family: math;">
    <div style="background-color: #f4f6f9;">
        <div >
            <br/>
            <!-- <img style="display: flex; margin: auto;" src="http://54.67.88.195/assets/images/icon/xshop.png" alt="Company Logo" width="150px" height="55px"> -->
            <h1 style="text-align:center;font-size:50px;color:Tomato;">InsightApps</h1>
            <br/>
        </div>
        <div style="margin: 10px 16px;background-color: #f4f6f9;">
                <p>Hi {{username}} </p>
                <p>You have successfully changed your InsightApps Login password on {{date}} at {{time}} . Do not share with anyone..</p>
                <p>Do not disclose any confidential information such as Username, Password, OTP etc. to anyone.</p>
            <br>
            <p>Best regards,</p>
            <p>The InsightApps Team</p>
        </div>
</body>
</html>
